* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

.users-list-content {
  background-color: #373B44;
}

.users-list {
  width:300px;
  margin:0px auto;
  vertical-align: top;
}

.default {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
}

.inverted {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #2ecc71;
  height: 100vh;
}

.default:nth-of-type(2n) {
  background-color: #2ecc71;
}

.intro {
  height: 90vh;
  background: url("../images/intro_background.JPG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.center {
  width:300px;
  margin:100px auto;
}

.profile-picture-big {
  width: 140px;
  height: auto;
  margin: 20px 20px;
}

.profile-picture-small {
  cursor: pointer;
  width: 50px;
  height: auto;
  display: inline-block;
  margin: 5px 5px;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}

.inverted p {
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
  text-decoration: none !important;
}

a:hover { 
  opacity: 0.9;
}

a:active {
  top: 1px;
}

.default:nth-of-type(1+2n) a {
  color: #2ecc71;
}

.tile {
  padding: 5px;
  background: rgba(0,0,0,0.35);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;
}

footer a {
  color: #2ecc71;
  font-weight: 500;
  text-decoration: none !important;
}

/*Ghost Buttons*/

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"].btn,
button.btn {
  cursor: pointer;
}

a.btn,.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */
.btn-radius {
  border-radius: 3px;
}
/* Sizes */
.btn-small {
  font-size: 0.8125em;
  padding: 0.4125em 1.25em;
}
.btn-medium {
  font-size: 0.9375em;
  padding: 0.5375em 1.375em;
}
.btn-large {
  font-size: 1.0625em;
  padding: 0.5625em 1.5em;
}

/* Colors */
.btn-green {
  color: #2ecc71;
  border-color: #2ecc71;
}
.btn-green:hover {
  background: #2ecc71 !important;
  color: #fff;
  border-color: #2ecc71;    
}

.btn-blue {
  color: #4682B4;
  border-color: #4682B4;
}
.btn-blue:hover {
  background: #4682B4;
  color: #fff;
  border-color: #4682B4;    
}

.btn-orange {
  color: #FF8C00;
  border-color: #FF8C00;
}
.btn-orange:hover {
  background: #FF8C00;
  color: #fff;
  border-color: #FF8C00;    
}

.btn-red {
  color: #B22222;
  border-color: #B22222;
}
.btn-red:hover {
  background: #B22222;
  color: #fff;
  border-color: #B22222;  
}

.btn-gray {
  color: #808080;
  border-color: #808080;
}
.btn-gray:hover {
  background: #808080;
  color: #fff;
  border-color: #808080;  
}