<!--<div class="users-list-content">
	<div class="users-list">
		<img ng-repeat="user in users" ng-click="changeSelecteduser(user)" ng-src="{{user.imageUrl}}" alt="User Profile Picture" class="img-circle img-responsive profile-picture-small">
	</div>
</div>
-->

<section class="default">  
	<div class="container">
		<div class="row">

        <div class="col-md-2">
          <div class="tile">
		        <div class="form-group">
		          <input type="text" class="form-control" ng-model="query" placeholder="search...">
		        </div>

        		<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
	          	<ul>
	          		<li ng-repeat="user in users | filter:{hardskill: query}" ng-style="{ backgroundColor: selecteduser == user ? '#373B44' : '' }">
	          			<div class="profile-small">
		      					<img ng-click="changeSelectedUser(user)" ng-mouseover="mouseOverUser(user)" ng-mouseleave="mouseLeaveUser()" ng-src="{{user.imageUrl}}" alt="User Profile Picture" class="img-circle img-responsive profile-picture-small">
		      					<p>{{user.name}}<p>
	      					</div>
	      				</li>	
	      			</ul>
      			</perfect-scrollbar>
          </div>
    		</div>

				<div class="col-md-10">
					<div class="tile profile-container">
						<div class="row">
						  <div class="col-md-2">
						    <img ng-src="{{selecteduser.imageUrl}}" alt="User Profile Picture" class="img-circle img-responsive profile-picture-big">
						  </div>
						  <div class="col-md-10">
							    <h1>{{selecteduser.name}}</h1>
									<p>{{selecteduser.description | limitTo : 200}} {{selecteduser.description.length > 200 ? '...' : ''}} - <a href="">Details (make it collapsable</a></p>
						  </div>
						</div>
					</div>

					<div class="row">
					  <div class="col-md-8">
					  	<div class="tile">
					  		<div grouped-bar-chart selecteduser="selecteduser" compareuser="compareuser" hoveredfrom="hoveredfrom(args)" hovered="hovered"></div>
						  </div>
					  </div>
					  <div class="col-md-4">
					  	<div class="tile" style="height:326px;">
					  		<div pie-chart hardskill="hardskill" selecteduser="selecteduser" hoveredfrom="hoveredfrom(args)" hovered="hovered"></div>
					  	</div>
					  	<!--<div class="tile">
					  		<div tag-bar-chart hardskill="hardskill"></div>
						  </div>-->
					  </div>
					</div>
				</div>

		</div>
	</div>
</section>

<!--<section class="default">  
	<div class="container">

	</div>
</section>-->

