<!--<div class="users-list-content">
	<div class="users-list">
		<img ng-repeat="user in users" ng-click="changeSelectedUser(user)" ng-src="{{user.imageUrl}}" alt="User Profile Picture" class="img-circle img-responsive profile-picture-small">
	</div>
</div>
-->

<section class="default">  
	<div class="container">
		<div class="row">

        <div class="col-md-2">
          <div class="tile">
		        <div class="form-group">
		          <input type="text" class="form-control" ng-model="query" placeholder="search...">
		        </div>

        		<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
	          	<ul>
	          		<li ng-repeat="user in users | filter:{hardskill: query}">
	          			<div class="profile-small">
		      					<img ng-click="changeSelectedUser(user)" ng-mouseover="mouseOverUser(user)" ng-mouseleave="mouseLeaveUser()" ng-src="{{user.imageUrl}}" alt="User Profile Picture" class="img-circle img-responsive profile-picture-small">
		      					<p>{{user.name}}<p>
	      					</div>
	      				</li>	
	      			</ul>
      			</perfect-scrollbar>
          </div>
    		</div>

				<div class="col-md-10">
					<div class="tile">
						<div class="row">
						  <div class="col-md-2">
						    <img ng-src="{{selectedUser.imageUrl}}" alt="User Profile Picture" class="img-circle img-responsive profile-picture-big">
						  </div>
						  <div class="col-md-10">
							    <h1>{{selectedUser.name}}</h1>
									<p>{{selectedUser.description | limitTo : 200}} {{selectedUser.description.length > 200 ? '...' : ''}} - <a href="">Details (make it collapsable</a></p>
						  </div>
						</div>
					</div>

					<div class="row">
					  <div class="col-md-7">
					  	<div class="tile">
						    <div tag-bar-chart hardskill="hardskill" hovered="hovered"></div>
						  </div>
					  </div>
					  <div class="col-md-4">
					  	<!--<div class="tile">

						  </div>-->
					  </div>
					</div>
				</div>

		</div>
	</div>
</section>

<!--<section class="default">  
	<div class="container">

	</div>
</section>-->

