<section class="intro">  
  <div class="content">
    <h1>Offr gives you insight in developers qualities.</h1>
    <p>Look up a developer through awesome skill visualizations.</p>
    <ul class="center nav nav-pills nav-justified">
      <li><a class="btn btn-medium btn-green btn-radiusn" ng-href="#/explore">Explore</a></li>
      <li><a class="btn btn-medium btn-green btn-radius" ng-href="#">Join Us</a></li>
    </ul>
 </div>
</section>

<section>  
  <div class="content">
    <h1>About ...</h1>
 </div>
</section>

<section>  
  <div class="content">
    <h1>Features ...</h1>
 </div>
</section>

<section>  
  <div class="content">
    <h1>Team <a href="#">lorem ipsum</a></h1>
 </div>
</section>
